/*  
    ELEMENT Selector
*/

/* Colors for design.
#C6E2FF  
#9FC5E8
#2588BA
#001047
#00BBFF*/

/* 
    CLASS Selector
*/

.search-parameters {
    display: inline-block;
    margin-bottom: auto;
}

.bottom-row {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* 
    ID Selectors
*/
#bruncher-sm-logo {
    max-height: 90px;
    display:block;
}

#search-param-contain{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

#generate-div{
    display:block;
}

#search-results-div{
    margin-top:10px;
    max-height: 570px;
    overflow: scroll;
}
#map-div{
    margin-top:10px;
    height: 570px;
}

#search-results-list{
    max-height: 29vw;
}

#result-map {
    max-height: 29vw;
}
.restaurant-image{
    width: 50px;
    height: 50px;
    /*float:right;*/
}
.restaurants{
    margin: 20px 0;
    border:1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


