/*  
    ELEMENT Selector
*/

/* Colors for design.
#C6E2FF  
#9FC5E8
#2588BA
#001047
#00BBFF*/

/* 
    CLASS Selector
*/

.search-parameters {
    display: inline-block;
    margin-bottom: auto;
}

.bottom-row {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* 
    ID Selectors
*/
#bruncher-sm-logo {
    max-height: 90px;
    display:block;
}

#search-param-contain{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

#generate-div{
    display:block;
}

#search-results-div{
    margin-top:10px;
    /* width:400px; */
    height:570px;
    /* background:gray; */
}
#map-div{
    margin-top:10px;
    /* width:400px; */
    height:570px;
    /* background:gray; */
}

#search-results-list{
    max-height: 29vw;
}

#result-map {
    max-height: 29vw;
}


